{% extends 'base/base.html' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<h1>Product Detail</h1>
<div id="single-product-container"></div>

<script>
    const productDetail = {
        name : '{{product.name|escapejs}}',
        image : '{{product.image.url|escapejs}}',
        desc : '{{product.description|escapejs}}',
        price : '{{product.price|escapejs}}',
    }

    const containerProduct = document.getElementById('single-product-container');
    containerProduct.innerHTML = `
        <div class="row">
            <div class="col-5">
                <img src='${productDetail.image}' alt='${productDetail.name}' width="100%" />    
            </div>    
            <div class="col">
                <h2>${productDetail.name}</h2>
                <p>${productDetail.desc}</p>
                <p>Price: ₹${parseInt(productDetail.price)}</p> 
            </div>     
        </div>
    `;
</script>
{% endblock %}