{% extends 'base/base.html' %}
{% block title %}Register{% endblock %}
    
{% block content %}
    
<form id="registerForm">
    {% csrf_token %}
    <h1>Register</h1>
    <p id="messageId"></p>
    <div class="row">
        <div class="col">
            <label for="first_name">First Name</label>
            <input class="form-control" type="text" name="first_name" id="first_name">
        </div>
        <div class="col">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="last_name">
        </div>
    </div>
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
    <div class="row">
        <div class="col">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
        <div class="col">
            <label for="confirm_password">Confirm Password</label>
            <input class="form-control" type="password" name="confirm_password" id="confirm_password">
        </div>
    </div>
    
    <button class="btn btn-danger mt-3 d-flex align-items-center" type="submit">
        <span>Register</span> <span id="spinnerLoading" class="spinner-border text-light ms-2" role="status" style="display: none; font-size: 10px; width: 16px; height: 16px;"></span>
    </button>
    <p class="mt-3">Already have an account? <a href="{% url 'login-page' %}">Login</a></p>
</form>

<script src="/media/js/register.js"></script>
    
{% endblock %}
