{% extends 'base/base.html' %}
{% block title %}Reset Password{% endblock %}
    
{% block content %}
    
<form id="resetPasswordForm">
    {% csrf_token %}
    <h1>Reset Password</h1>
    <p id="messageId"></p>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password">
    <label for="confirm_password">Confirm Password</label>
    <input class="form-control" type="password" name="confirm_password" id="confirm_password">
    <input type="hidden" name="resetToken" value="{{ token }}">
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <button class="btn btn-dark mt-3 d-flex align-items-center" type="submit">
        <span>Reset Password</span> <span id="spinnerLoading" class="spinner-border text-light ms-2" role="status" style="display: none; font-size: 10px; width: 16px; height: 16px;"></span>
    </button>
</form>

<script src="/media/js/reset_password.js"></script>
    
{% endblock %}
